#debugger {
    font-family: monospace;
    position: absolute;
    width: 240px;
    right: 10px;
    top: 0;
    font-size: .7rem;
    border: 1px dashed #FFD0D0;
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
}

#debugger.active {
    visibility: visible;
    opacity: 1;
}